{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="TemplateMo">

        <title>Asusoft Portfolio</title>
        <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>


        <!-- CSS FILES -->
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">

        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

        <link href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet">

        <link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet">

        <link href="{% static 'css/templatemo-first-portfolio-style.css' %}" rel="stylesheet">
        
        <style>
            #section_1{
         color: rgb(240, 240, 240); 
         background-color: rgb(34, 22, 22); 
         background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{% static "images/clients/AI-PNG-HD.svg" %}') no-repeat center fixed;  
         }
        </style>
    </head>
    
    <body>
        <section class="preloader">
            <div class="spinner">
                <span class="spinner-rotate"></span>    
            </div>
        </section>

        <nav class="navbar navbar-expand-lg">
            <div class="container">
    
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <a href="../" class="navbar-brand mx-auto mx-lg-0">{{topic.name}}</a>
    
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-lg-5">
                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="#section_1">Home</a>
                        </li>
    
                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="#section_2">Articles</a>
                        </li>
    
                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="#section_3">Projects</a>
                        </li>
    
                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="#section_4">Publications</a>
                        </li>
                    </ul>
                </div>
    
            </div>
        </nav>

        <main>
            <section id="section_1" class="home wg-blank  parallax " style="padding: 20px 0 20px 0;">
                <div class="container" style="padding-top: 100px; padding-left: 50px;">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="home-text">
                                <h1>{{topic.name}}</h1>
                                <p>We develop techniques and algorithms for building and managing key networked systems that are worthy of society's trust.
                                    Our core interests lie in improving the modern computing environment where distributed systems and computer networks are a pervasive component.</p>
                                <ul>
                                    <li>We focus on bridging the gap between the abstractions that users (i.e., software developers, cloud providers, or network operators) need and what a performant, scalable, dependable and deployable system can achieve in practice.</li>
                                    <li>We build prototypes that directly improve the lives of real users.</li>
                                    <li>We seek solutions based on theoretically grounded arguments while also gaining insights into constraints and trade-offs in the design space.</li>
                                </ul>
                                <p>Our goal is to enrich the human knowledge of how to build future-proof systems that can stand the test of time.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>  
        
            <section id="section_2" class="about wg-pages   ">
                <div class="container-fluid" style="background-color: #4a3e2d; padding-top: 100px; padding-left: 50px;">     
                    <div class="row">  
                        <div class="text-secondary col-12 col-lg-4 section-heading"  style="padding-left:100px;">
                            <h1>Articles</h1> 
                            <div class="see-all">
                                <a href="/publications">
                                    See other Articles
                                    <i class="fas fa-angle-right"></i>
                                </a>
                            </div>
                        </div>              
                        <div class="col-12 col-lg-8">
                            {%if publications.count%}
                                <h5 class="card-title text-light">
                                    <i class="fas fa-band-aid"></i>No publications under {{topic.name}}
                                </h5>
                                {%endif%} 
                            <div class="pub-list-item" style=" padding-right: 80px;">
                                <div class="container py-2">
                                    <div class="row" data-masonry='{"percentPosition": true }'>
                                        {%for article in articles%}
                                        <div class="card text-white bg-dark mb-3" style="width: 18rem; margin: 10px;">
                                            <div class="card-body">
                                              <h5 class="card-title">{{article.title}}</h5>
                                              <h6 class="card-subtitle mb-2 text-muted">{{article.posted}}</h6>
                                              <p class="card-text">It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                              <div>
                                                <a href="{{publication.paper}}" class="btn btn-outline-secondary" role="button" aria-pressed="true">Read more</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card text-white bg-dark mb-3" style="width: 18rem; margin: 10px;">
                                            <div class="card-body">
                                              <h5 class="card-title">{{article.title}}</h5>
                                              <h6 class="card-subtitle mb-2 text-muted">{{article.posted}}</h6>
                                              <p class="card-text">{{article.catchy}}</p>
                                              <div>
                                                <a href="{{publication.paper}}" class="btn btn-outline-info" role="button" aria-pressed="true">Read more</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card text-white bg-dark mb-3" style="width: 18rem; margin: 10px;">
                                            <div class="card-body">
                                              <h5 class="card-title">{{article.title}}</h5>
                                              <h6 class="card-subtitle mb-2 text-muted">{{article.posted}}</h6>
                                              <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                              <div>
                                                <a href="{{publication.paper}}" class="btn btn-outline-info" role="button" aria-pressed="true">Read more</a>
                                                </div>
                                            </div>
                                        </div>
                                         <div class="card text-white bg-dark mb-3" style="width: 18rem; margin: 10px;">
                                            <div class="card-body">
                                              <h5 class="card-title">{{article.title}}</h5>
                                              <h6 class="card-subtitle mb-2 text-muted">{{article.posted}}</h6>
                                              <p class="card-text">It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                              <div>
                                                <a href="{{publication.paper}}" class="btn btn-outline-info" role="button" aria-pressed="true">Read more</a>
                                                </div>
                                            </div>
                                        </div>
                                         <div class="card text-white bg-dark mb-3" style="width: 18rem; margin: 10px;">
                                            <div class="card-body">
                                              <h5 class="card-title">{{article.title}}</h5>
                                              <h6 class="card-subtitle mb-2 text-muted">{{article.posted}}</h6>
                                              <p class="card-text">{{article.catchy}}</p>
                                              <div>
                                                <a href="{{publication.paper}}" class="btn btn-outline-info" role="button" aria-pressed="true">Read more</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card text-white bg-dark mb-3" style="width: 18rem; margin: 10px;">
                                            <div class="card-body">
                                              <h5 class="card-title">{{article.title}}</h5>
                                              <h6 class="card-subtitle mb-2 text-muted">{{article.posted}}</h6>
                                              <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                              <div>
                                                <a href="{{publication.paper}}" class="btn btn-outline-info" role="button" aria-pressed="true">Read more</a>
                                                </div>
                                            </div>
                                        </div>
                                        {%endfor%}                               
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </section>
        
            <section id="section_3" class="services wg-pages   ">
                <div class="container-fluid" style="background-color: #ada59a; padding-top: 100px; padding-left: 50px;">     
                    <div class="row">                
                        <div class="col-12 col-lg-8">
                            {%if publications.count%}
                                <h5 class="card-title text-light">
                                    <i class="fas fa-band-aid"></i>No publications under {{topic.name}}
                                </h5>
                                {%endif%} 
                            <div class="pub-list-item" style="margin-top: 15px; padding-right: 80px;">
                                <div class="container py-2">
                                    <div class="row" data-masonry='{"percentPosition": true }'>
                                        {%for article in articles%}
                                        <div class="card text-white bg-dark mb-3" style="width: 18rem; margin: 10px;">
                                            <div class="card-body">
                                              <h5 class="card-title">{{article.title}}</h5>
                                              <h6 class="card-subtitle mb-2 text-muted">{{article.posted}}</h6>
                                              <p class="card-text">It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                              <div>
                                                <a href="{{publication.paper}}" class="btn btn-outline-secondary" role="button" aria-pressed="true">Read more</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card" style="width: 18rem; margin: 10px;">
                                            <div class="card-body">
                                              <h5 class="card-title">{{article.title}}</h5>
                                              <h6 class="card-subtitle mb-2 text-muted">{{article.posted}}</h6>
                                              <p class="card-text">{{article.catchy}}</p>
                                              <div>
                                                <a href="{{publication.paper}}" class="btn btn-outline-info" role="button" aria-pressed="true">Read more</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card" style="width: 18rem; margin: 10px;">
                                            <div class="card-body">
                                              <h5 class="card-title">{{article.title}}</h5>
                                              <h6 class="card-subtitle mb-2 text-muted">{{article.posted}}</h6>
                                              <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                              <div>
                                                <a href="{{publication.paper}}" class="btn btn-outline-info" role="button" aria-pressed="true">Read more</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card" style="width: 18rem; margin: 10px;">
                                            <div class="card-body">
                                              <h5 class="card-title">{{article.title}}</h5>
                                              <h6 class="card-subtitle mb-2 text-muted">{{article.posted}}</h6>
                                              <p class="card-text">It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                              <div>
                                                <a href="{{publication.paper}}" class="btn btn-outline-info" role="button" aria-pressed="true">Read more</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card" style="width: 18rem; margin: 10px;">
                                            <div class="card-body">
                                              <h5 class="card-title">{{article.title}}</h5>
                                              <h6 class="card-subtitle mb-2 text-muted">{{article.posted}}</h6>
                                              <p class="card-text">{{article.catchy}}</p>
                                              <div>
                                                <a href="{{publication.paper}}" class="btn btn-outline-info" role="button" aria-pressed="true">Read more</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card" style="width: 18rem; margin: 10px;">
                                            <div class="card-body">
                                              <h5 class="card-title">{{article.title}}</h5>
                                              <h6 class="card-subtitle mb-2 text-muted">{{article.posted}}</h6>
                                              <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                              <div>
                                                <a href="{{publication.paper}}" class="btn btn-outline-info" role="button" aria-pressed="true">Read more</a>
                                                </div>
                                            </div>
                                        </div>
                                        {%endfor%}                               
                                    </div>
                                </div>
                            </div> 
                        </div>
                        <div class="text-secondary col-12 col-lg-4 section-heading"  style="padding-left:100px;">
                            <h1>Projects</h1> 
                            <div class="see-all">
                                <a href="/publications">
                                    See other Projects
                                    <i class="fas fa-angle-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        
            <section id="section_4" class="projects wg-pages   ">
                <div class="container-fluid" style="background-color: #3b3327; padding-top: 100px; padding-left: 50px;">     
                    <div class="row">
                        <div class="text-secondary col-12 col-lg-4 section-heading"  style="padding-left:100px;">
                            <h1>Publications</h1> 
                            <div class="see-all">
                                <a href="/publications">
                                    See other publications
                                    <i class="fas fa-angle-right"></i>
                                </a>
                            </div>
                        </div>
                        
                        <div class="col-12 col-lg-8">
                            {%if publications.count%}
                                <h5 class="card-title text-light">
                                    <i class="fas fa-band-aid"></i>No publications under {{topic.name}}
                                </h5>
                                {%endif%}
                            {% for publication in publications%}            
                            <!-- Modal -->                    
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header d-block">
                                            <div class="d-flex mb-3">
                                                <strong>{{publication.title}}</strong>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                    
                                                </button>
                                            </div>
                                            <p class="mb-0"><b><i>Abstract</i></b></p>
                                        </div>
                                        <div class="modal-body">
                                        <p>
                                            {{publication.abstract}}
                                        </p>
                                        </div>
                                        <div class="modal-footer justify-content-between">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pub-list-item" style="background-color: #3b3327; margin-top: 15px; padding-right: 80px;">
                                
                                    <div class="card-body" style="background-color: #3b3327;">
                                        <i class="far fa-file-alt"></i>
                                        <h5 class="card-title text-light">
                                            <i class="fas fa-band-aid"></i>{{publication.title}}, {{publication.title}}, {{publication.title}}</h5>
                                        <div>
                                            {% for public_topic in publication.topic.all %}
                                            <a href="#" class="badge badge-pill badge-{{topic.color}}">{{public_topic.name}}</a>
                                            <a href="#" class="badge badge-pill badge-{{topic.color}}">{{public_topic.name}}</a>
                                            {% endfor %}
                                        </div>
                                            <p> </p>
                                        <div>
                                            <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                Abstract
                                            </button>
                                            <a href="{{publication.paper}}" class="btn btn-outline-success" role="button" aria-pressed="true">Paper</a>
                                                {%if publication.repo %}
                                            <a href="{{publication.repo}}" class="btn btn-outline-secondary" role="button" aria-pressed="true">Repo</a>      
                                                {%endif%} 
                                            <a href="{{publication.repo}}" class="btn btn-outline-warning" role="button" aria-pressed="true">Articles</a>
                                        </div>
                                    </div>
                            </div> 
                            <div class="pub-list-item" style="background-color: #3b3327; margin-top: 15px; padding-right: 80px;">
                                
                                <div class="card-body" style="background-color: #3b3327;">
                                    <i class="far fa-file-alt"></i>
                                    <h5 class="card-title text-light">
                                        <i class="fas fa-band-aid"></i>{{publication.title}}, {{publication.title}}, {{publication.title}}</h5>
                                    <div>
                                        {% for public_topic in publication.topic.all %}
                                        <a href="#" class="badge badge-pill badge-{{topic.color}}">{{public_topic.name}}</a>
                                        <a href="#" class="badge badge-pill badge-{{topic.color}}">{{public_topic.name}}</a>
                                        {% endfor %}
                                    </div>
                                        <p> </p>
                                    <div>
                                        <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                            Abstract
                                        </button>
                                        <a href="{{publication.paper}}" class="btn btn-outline-success" role="button" aria-pressed="true">Paper</a>
                                            {%if publication.repo %}
                                        <a href="{{publication.repo}}" class="btn btn-outline-secondary" role="button" aria-pressed="true">Repo</a>      
                                            {%endif%} 
                                        <a href="{{publication.repo}}" class="btn btn-outline-warning" role="button" aria-pressed="true">Articles</a>
                                    </div>
                                </div>
                        </div>
                        <div class="pub-list-item" style="background-color: #3b3327; margin-top: 15px; padding-right: 80px;">
                                
                            <div class="card-body" style="background-color: #3b3327;">
                                <i class="far fa-file-alt"></i>
                                <h5 class="card-title text-light">
                                    <i class="fas fa-band-aid"></i>{{publication.title}}, {{publication.title}}, {{publication.title}}</h5>
                                <div>
                                    {% for public_topic in publication.topic.all %}
                                    <a href="#" class="badge badge-pill badge-{{topic.color}}">{{public_topic.name}}</a>
                                    <a href="#" class="badge badge-pill badge-{{topic.color}}">{{public_topic.name}}</a>
                                    {% endfor %}
                                </div>
                                    <p> </p>
                                <div>
                                    <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                        Abstract
                                    </button>
                                    <a href="{{publication.paper}}" class="btn btn-outline-success" role="button" aria-pressed="true">Paper</a>
                                        {%if publication.repo %}
                                    <a href="{{publication.repo}}" class="btn btn-outline-secondary" role="button" aria-pressed="true">Repo</a>      
                                        {%endif%} 
                                    <a href="{{publication.repo}}" class="btn btn-outline-warning" role="button" aria-pressed="true">Articles</a>
                                </div>
                            </div>
                    </div>
                    <div class="pub-list-item" style="background-color: #3b3327; margin-top: 15px; padding-right: 80px;">
                                
                        <div class="card-body" style="background-color: #3b3327;">
                            <i class="far fa-file-alt"></i>
                            <h5 class="card-title text-light">
                                <i class="fas fa-band-aid"></i>{{publication.title}}, {{publication.title}}, {{publication.title}}</h5>
                            <div>
                                {% for public_topic in publication.topic.all %}
                                <a href="#" class="badge badge-pill badge-{{topic.color}}">{{public_topic.name}}</a>
                                <a href="#" class="badge badge-pill badge-{{topic.color}}">{{public_topic.name}}</a>
                                {% endfor %}
                            </div>
                                <p> </p>
                            <div>
                                <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    Abstract
                                </button>
                                <a href="{{publication.paper}}" class="btn btn-outline-success" role="button" aria-pressed="true">Paper</a>
                                    {%if publication.repo %}
                                <a href="{{publication.repo}}" class="btn btn-outline-secondary" role="button" aria-pressed="true">Repo</a>      
                                    {%endif%} 
                                <a href="{{publication.repo}}" class="btn btn-outline-warning" role="button" aria-pressed="true">Articles</a>
                            </div>
                        </div>
                </div>
                              {%endfor%}
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <footer class="site-footer">
            <div class="container">
                <div class="row">

                    <div class="col-lg-12 col-12">
                        <div class="copyright-text-wrap">
                            <p class="mb-0">
                                <span class="copyright-text">Copyright © 2023 Asusoft. All rights reserved.</span>
                                Design: 
                                <a rel="sponsored" href="https://templatemo.com" target="_blank">TemplateMo</a>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

        <!-- JAVASCRIPT FILES -->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/jquery.sticky.js' %}"></script>
        <script src="{% static 'js/click-scroll.js' %}"></script>
        <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
        <script src="{% static 'js/magnific-popup-options.js' %}"></script>
        <script src="{% static 'js/custom.js' %}"></script>
    </body>
</html>